body {
  margin: 0;
  font-family: 'Brandon_bld', sans-serif;
  font-size: 12px;
  font-weight: 500; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.wrapper.preloading {
  height: 100vh;
  background-color: #1e1e1e; }

.wrapper .preloader {
  position: absolute;
  top: calc(50% - 5em);
  left: calc(50% - 15em);
  z-index: 5; }

.wrapper {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 100%; }

.wrapper a {
  text-decoration: none; }

.wrapper .main.main-content h1 {
  font-family: BickhamScriptThree, sans-serif;
  font-size: 74px;
  letter-spacing: 0.6px;
  font-weight: normal;
  text-align: center;
  margin: 0;
  text-shadow: 0 1px 4px rgba(25, 25, 25, 0); }

.wrapper.dark .main.main-content h1 {
  color: #6c6c6c; }

.wrapper.light .main.main-content h1 {
  color: #2c2c2c; }

.wrapper .main.main-content .background {
  position: absolute;
  margin: -1% 0px 0% 4%;
  height: 125%; }

.wrapper.dark .main.main-content .background.light {
  display: none; }

.wrapper.light .main.main-content .background.dark {
  display: none; }

.wrapper h2 {
  font-family: Brandon_light, sans-serif;
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: 4px;
  margin: auto; }

.wrapper .main h2 {
  margin: -4em 0 0 4em; }

.wrapper.dark .main h2 {
  color: #b5b5b5; }

.wrapper .sidebar-logo a.logo {
  user-select: none;
  cursor: pointer;
  font-family: Brandon_light, sans-serif;
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: 4px;
  margin: auto;
  color: #6d6d6d; }

.wrapper .sidebar-logo a.logo::selection {
  background-color: Transparent; }

.sidebar-menu a {
  font-size: 10px; }

.wrapper.dark .sidebar {
  background-color: #1e1e1e; }

.wrapper.light .sidebar {
  background-color: #ebebeb; }

.wrapper.dark .content {
  background-color: #1d1d1d; }

.wrapper.light .content {
  background-color: #e2e2e2; }

.content,
.sidebar {
  display: grid;
  grid-auto-rows: 21.25vh 70vh 8.75vh; }

.sidebar-menu,
.sidebar-logo {
  display: flex;
  justify-content: center;
  align-items: center; }

.sidebar-menu {
  transform: rotate(270deg); }

.wrapper .sidebar-menu img {
  transform: rotate(90deg); }

.wrapper.dark .sidebar-menu img.lightBurger {
  display: none; }

.wrapper.light .sidebar-menu img.darkBurger {
  display: none; }

.sidebar-menu a {
  letter-spacing: 0.5em;
  margin-right: 2em; }

.wrapper.dark .sidebar-menu a,
.wrapper.light .sidebar-menu a {
  color: #6d6d6d; }

.wrapper.dark .sidebar-menu a:hover {
  color: #dedede; }

.wrapper.light .sidebar-menu a:hover {
  color: #2f2f2f; }

.wrapper .sidebar {
  z-index: 1; }

.wrapper .sidebar .social-media {
  display: grid;
  justify-content: center; }

.wrapper.dark .sidebar .social-media.light {
  display: none; }

.wrapper.light .sidebar .social-media.dark {
  display: none; }

.wrapper .sidebar .social-media .icons-block a {
  opacity: 0.5; }

.wrapper .sidebar .social-media .icons-block a:hover {
  opacity: 1; }

.wrapper .sidebar .social-media .icons-block a img {
  margin-right: 2em; }

.wrapper .sidebar .social-media .icons-block a:last-child img {
  margin-right: 0; }

header {
  display: grid;
  grid-template-columns: 1fr 12.5em;
  padding: 8vh 4.5vw 0;
  grid-gap: 22%;
  z-index: 1; }

.wrapper .header-menu a {
  text-transform: uppercase; }

.wrapper.dark .header-menu a {
  color: #ffffff; }

.wrapper.light .header-menu a {
  color: black; }

.wrapper.dark .header-menu .active a,
.wrapper.dark .header-menu a:hover,
.wrapper.light .header-menu .active a,
.wrapper.light .header-menu a:hover {
  color: #a1a1a1; }

.header-menu {
  display: flex;
  justify-content: space-between; }

.header-menu li {
  height: 2em;
  position: relative; }

.header-menu li:first-child {
  margin-right: 46%; }

.header-menu li.active:after {
  content: '';
  display: block;
  width: 1.5em;
  position: absolute;
  left: -0.5em;
  bottom: 0; }

.wrapper.dark .header-menu li.active:after {
  border-bottom: 1px solid #ffffff; }

.wrapper.light .header-menu li.active:after {
  border-bottom: 1px solid #303030; }

.news .news-item {
  font-size: 10px;
  letter-spacing: 2.8px;
  cursor: pointer; }

.news .date {
  display: block; }

.wrapper.dark .news .date,
.wrapper.light .news .date {
  color: #b79f80; }

.wrapper.dark .news .event,
.wrapper.light .news .event {
  color: #6d6d6d; }

.news li {
  line-height: 1.2;
  margin-bottom: 1.2em; }

.news li:nth-child(2) {
  opacity: 0.5; }

.news li:last-child {
  margin-bottom: 0;
  opacity: 0.25; }

.news li:hover {
  opacity: 1; }

.main {
  padding: 2vh calc(4.5vw + 12.5em) 5vh 4.5vw; }

.main.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }

.main .logo-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 8.5em;
  z-index: 1;
  user-select: none; }

.main.about-content {
  display: flex;
  align-items: center;
  padding: 2vh calc(4.5vw + 37.5em) 5vh 4.5vw;
  font-family: Brandon_light, sans-serif;
  font-size: 14px;
  letter-spacing: 1.1px; }

.wrapper.light .main.about-content {
  color: #000000; }

.wrapper.dark .main.about-content {
  color: #ebebeb; }

.main.about-content h3 {
  font-family: Brandon_light, sans-serif;
  color: #b79f80;
  font-weight: normal; }

.main.contact-content h1,
.main.video-content h1,
.main.music-content h1 {
  font-family: Brandon_bld, sans-serif;
  font-size: 50px;
  color: #ffffff;
  margin: 0; }

.main.contact-content .contacts {
  padding-top: 2.5em;
  font-size: 18px; }

.main.contact-content .contacts .contact-item {
  height: 2em; }

.main.contact-content .contacts span {
  font-family: Brandon_light, sans-serif; }

.main.contact-content .contacts span.bold {
  display: inline-block;
  width: 4.8em;
  font-family: Brandon_med, sans-serif; }

.wrapper.light .main.contact-content .contacts span.bold,
.wrapper.light .main.contact-content .contacts span {
  color: #000000; }

.wrapper.dark .main.contact-content .contacts span.bold,
.wrapper.dark .main.contact-content .contacts span {
  color: #a1a1a1; }

.main.contact-content input {
  width: 20.2em;
  margin: 0 4.2em 1em 0;
  padding: 0.7em 0.5em 0.3em 0.5em;
  border: none;
  border-bottom: solid 1px rgba(151, 151, 151, 0.26);
  outline: none; }

.wrapper.dark .main.contact-content input {
  background-color: #1d1d1d; }

.wrapper.light .main.contact-content input {
  background-color: #e2e2e2; }

.main.contact-content input.error,
.main.contact-content input.error:hover {
  border-bottom: solid 1px red; }

.main.contact-content input,
.main.contact-content input::placeholder {
  font-family: Brandon_light, sans-serif;
  font-size: 18px;
  color: #afafaf; }

.main.contact-content input:focus,
.main.contact-content input:hover {
  border-bottom: solid 1px #000000; }

.main.contact-content .contact-form {
  padding-top: 2em; }

.main.contact-content .contact-form .result {
  font-size: 21px;
  font-family: 'Brandon_light', sans-serif; }

.main.contact-content button.send {
  width: 10.7em;
  height: 2.8em;
  font-family: Brandon_med, sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  border: solid 1px #000000;
  outline: none; }

.wrapper.dark .main.contact-content button.send {
  background-color: #1d1d1d; }

.wrapper.light .main.contact-content button.send {
  background-color: #e2e2e2; }

.main.video-content .video-block {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 4em 2em;
  padding-top: 2.5em;
  color: #393939;
  font-size: 14px; }

.main.video-content .video .screen {
  background: url("https://images.unsplash.com/photo-1508252592163-5d3c3c559f36?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ec1ecefddebe708d9f122e4ef5372b04&auto=format&fit=crop&w=1950&q=80");
  background-size: cover;
  height: 100px; }

.main.video-content .video {
  position: relative;
  padding-bottom: 55%;
  height: 0; }

.main.video-content .video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important; }

.main.video-content .video p {
  position: absolute;
  top: 100%; }

.main.music-content {
  padding: 2vh 4.5vw 5vh 4.5vw; }

.main.music-content .songs-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.main.music-content .songs {
  width: 60%; }

.main.music-content .song {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: -2em; }

.main.music-content .song .song-cover {
  width: 38px;
  height: 38px;
  margin-right: 2.5em; }

.main.music-content p {
  font-size: 18px;
  letter-spacing: 1.5px;
  margin: 0; }

.main.music-content .song .audio-player {
  margin: 0;
  background: transparent; }

.main.music-content .audio-player {
  background: white;
  width: 50vw;
  display: flex;
  align-items: center; }

.main.music-content .audio-player .track-info {
  display: flex;
  justify-content: space-between; }

.main.music-content .audio-player .track-info .time {
  display: flex;
  font-family: Brandon_light;
  letter-spacing: 0.9px; }

.wrapper.dark .main.music-content .audio-player .track-info p.track-name {
  color: #ebebeb; }

.wrapper.light .main.music-content .audio-player .track-info p.track-name,
.wrapper.dark .main.music-content .audio-player .track-info .time p {
  color: #000000; }

.wrapper.dark .main.music-content .audio-player .track-info .time p {
  color: #a1a1a1; }

.main.music-content .audio-player .track-info .time p {
  font-size: 12px; }

.main.music-content .audio-player .track-info .track-name {
  margin-bottom: 0.25em; }

.main.music-content .audio-player progress {
  width: 100%;
  cursor: pointer; }

.main.music-content .audio-player .volume-controller {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-left: 1.5em; }

.main.music-content .audio-player .volume-controller .volumeIcon {
  opacity: 0.7;
  margin-bottom: -3.2em; }

.main.music-content .audio-player .volume-controller .volumeIcon:hover {
  opacity: 1; }

.main.music-content .audio-player .volume-controller .volumeRange {
  width: 40px;
  height: 2px;
  outline: none;
  appearance: none;
  background-color: rgba(161, 161, 161, 0.3);
  transform: rotate(270deg); }

.main.music-content .audio-player .volume-controller .volumeRange::-webkit-slider-thumb {
  appearance: none;
  width: 9px;
  height: 9px;
  border-radius: 5px;
  background-color: #b79f80;
  cursor: pointer; }

.wrapper.light .main.music-content .audio-player .volume-controller .volumeRange::-webkit-slider-thumb {
  border: solid 2px #e2e2e2; }

.wrapper.dark .main.music-content .audio-player .volume-controller .volumeRange::-webkit-slider-thumb {
  border: solid 2px #1d1d1d; }

.main.music-content .audio-player .cover {
  height: 7em;
  min-width: 7em;
  margin-right: 1.3em;
  cursor: pointer;
  position: relative; }

.main.music-content .audio-player .cover:hover #play-btn {
  opacity: 1; }

.main.music-content .audio-player .album-image {
  height: 100%;
  width: 100%; }

.main.music-content .audio-player .player-controls {
  width: 100%;
  display: flex;
  flex-direction: column; }

.main.music-content .audio-player #play-btn {
  background-image: url("./public/play.svg");
  background-size: cover;
  position: absolute;
  width: 11px;
  height: 11px;
  top: 43%;
  left: 44%;
  margin: 0 auto;
  opacity: 0; }

.main.music-content .audio-player #play-btn.play {
  -webkit-transition: opacity 600ms, visibility 600ms;
  transition: opacity 500ms, visibility 500ms; }

.main.music-content .audio-player #play-btn.pause {
  opacity: 1;
  background-image: url("./public/pause.svg"); }

.main.music-content .audio-player .player-controls progress {
  width: 90%; }

.main.music-content .audio-player .player-controls progress[value] {
  -webkit-appearance: none;
  appearance: none;
  color: #b79f80;
  height: 1px; }

.main.music-content .audio-player .player-controls progress[value] {
  background-color: rgba(183, 159, 128, 0.25); }

.main.music-content .audio-player .player-controls progress[value]::-webkit-progress-bar {
  background-color: rgba(183, 159, 128, 0.25);
  border-radius: 1px;
  color: #b79f80; }

.main.music-content .audio-player .player-controls progress::-webkit-progress-value {
  background-color: #b79f80;
  box-shadow: 0 0 6px 0 rgba(194, 194, 194, 0.5), 0 0 4px 0 #b79f80;
  opacity: 1; }

footer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-items: center;
  z-index: 1; }

footer .lang a {
  color: #2f2f2f;
  margin-right: 1em;
  cursor: pointer; }

.wrapper.dark .lang a {
  color: #2f2f2f; }

.wrapper.light .lang a {
  color: #afafaf; }

footer .lang a:last-child {
  margin-right: 0; }

.wrapper.dark footer .lang a:hover,
.wrapper.dark footer .lang a.active {
  color: #ededed; }

.wrapper.light footer .lang a:hover,
.wrapper.light footer .lang a.active {
  color: #2f2f2f; }

footer .theme {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  font-family: Brandon_light, sans-serif;
  font-size: 16px; }

footer .theme a {
  display: block;
  cursor: pointer; }

.wrapper.light footer .theme a:hover,
.wrapper.light footer .theme a.active,
.wrapper.dark footer .theme a {
  color: #515151; }

.wrapper.dark footer .theme a:hover,
.wrapper.dark footer .theme a.active,
.wrapper.light footer .theme a {
  color: #afafaf; }

footer .theme .line {
  display: block;
  width: 2em; }

.wrapper.dark footer .theme .line,
.wrapper.light footer .theme .line.active {
  border-top: 1px solid #000000; }

.wrapper.dark footer .theme .line.active,
.wrapper.light footer .theme .line {
  border-top: 1px solid #979797; }

footer .theme a:first-child {
  margin-right: 1em; }

footer .theme a:last-child {
  margin-left: 1em; }

footer a.question {
  font-family: Brandon_light, sans-serif;
  font-size: 14px;
  display: block;
  height: 1.3em; }

.wrapper.dark footer a.question,
.wrapper.light footer a.question {
  color: #afafaf;
  border-bottom: 1px solid #afafaf; }

.wrapper.dark footer a.question:hover {
  color: #ededed; }

.wrapper.light footer a.question:hover {
  color: #2f2f2f; }

@media (max-width: 1280px) {
  .wrapper .main.main-content h1 {
    font-size: 72px; }
  body,
  .wrapper h2,
  .header-menu,
  .wrapper .sidebar-logo a.logo {
    font-size: 10px; }
  .news a,
  .sidebar-menu a {
    font-size: 8px; }
  footer .theme {
    font-size: 14px; }
  footer a.question {
    font-size: 12px; }
  .header-menu li:first-child {
    margin-right: 36%; }
  .wrapper .main.main-content .background {
    height: 99%; } }

@media (max-width: 950px) {
  .wrapper .main.main-content h1 {
    font-size: 53px; }
  .header-menu li:first-child {
    margin-right: 26%; }
  .wrapper .main.main-content .background {
    height: 84%; }
  header {
    grid-gap: 14%; } }
