
.main.music-content .audio-player .player-controls progress {
    width: 90%;

}



/*.wrapper.light .main.music-content .audio-player .player-controls progress[value] {*/
    /*background-color: #b79f80;*/
    /*opacity: 0.25;*/
/*}*/

.main.music-content .audio-player .player-controls progress[value]::-webkit-progress-bar {


    border-radius: 1px;
    color:#b79f80;
}

.main.music-content .audio-player .player-controls progress::-webkit-progress-value {
    background-color: #b79f80;
    box-shadow: 0 0 6px 0 rgba(194, 194, 194, 0.5), 0 0 4px 0 #b79f80;

}
