.news li {
    display: inherit;
}

.news li:first-child.entering {
    right: 5em;
    top: -7em;
}

.news li {
    transition: all 3s ease;
}

.news li:first-child.entered {
    position: relative;
    right: 0;
    margin-right: 0;
    top: 0;
}

.news li:nth-child(2).entering {
    right: 4em;
    top: -10em;
}

.news li:nth-child(2).entered {
    position: relative;
    right: 0;
    margin-right: 0;
    top: 0;
}

.news li:last-child.entering {
    right: 2em;
    top: -10em;
}

.news li:last-child.entered {
    position: relative;
    right: 0;
    margin-right: 0;
    top: 0;
}

.wrapper .sidebar-logo.entering {
    opacity: 0;
    top: -10em;
}

.wrapper .sidebar-logo.entered {
    opacity: 1;
    position: relative;
    transition: all 3s ease;
    top: 0;
}

/*Home - h2 header*/
.wrapper .content h2.entering {
    opacity: 0;
    left: -4em;
}

.wrapper .content h2.entered {
    opacity: 1;
    position: relative;
    transition: all 3s ease;
    left: 0;
}

/*All h1 headers*/
.wrapper .main h1.entering {
    opacity: 0;
    top: 0;
}

.wrapper .main h1.entered {
    opacity: 1;
    transition: all 2s ease;
}

/*Home - h1 header*/
.wrapper .main.main-content h1 {
    transition: all 3s ease;
}

.wrapper .main.main-content h1.entering {
    opacity: 0;
    top: -1em;
}

.wrapper .main.main-content h1.entered {
    opacity: 1;
    position: relative;
    top: 0;
}

/*Gallery*/

.wrapper .main.gallery-content h1.entering {
    position: relative;
    opacity: 0;
    left: -2em;
    top: 0;
}

.wrapper .main.gallery-content h1.entered {
    opacity: 1;
    position: relative;
    transition: all 2s ease;
    left: 0;
}

.wrapper .main.gallery-content h2 {
    transition: all 1s ease;
}

.wrapper .main.gallery-content h2.showInstruction {
    opacity: 1;
}

.wrapper .main.gallery-content h2.hideInstruction {
    opacity: 0;

}



.wrapper {
    transition: all 4s ease;
}

.wrapper.entering {
    opacity: 0;
}

.wrapper.entered {
    opacity: 1;
}

.wrapper.exiting {
    opacity: 0;
}

.wrapper.exited {
    opacity: 1;
}

/*TODO*/
.wrapper .main {
    transition: all 2s ease;
}

.wrapper .main.entering {
    opacity: 0;
}

.wrapper .main.entered {
    opacity: 1;
}

.slick-slider {
    transition: all 2s ease;
}

.slick-slider.entering {
    opacity: 0;
}

.slick-slider.entered {
    opacity: 1;
}

/*Video*/
.wrapper .main .video-block {
    transition: all 2s ease;
}

.wrapper .main .video-block.entering {
    position: relative;
    left: 100vw;
    opacity: 0;
}

.wrapper .main .video-block.entered {
    position: relative;
    opacity: 1;
    left: 0;
}

/*Gallery*/
.wrapper .gallery-content {
    overflow: hidden;
}

.wrapper .main .sliderController {
    transition: all 2s ease;
}

.wrapper .main .sliderController.entering {
    position: relative;
    left: 20vw;
    opacity: 0;
}

.wrapper .main .sliderController.entered {
    position: relative;
    opacity: 1;
    left: 0;
}

.wrapper .main .sliderController .photo {
    transition: all 2s ease;
}

.wrapper .main .sliderController .photo.entering {
    left: 5vw;
}

.wrapper .main .sliderController .photo.entered {
    left: 0;
}

/*Contact*/
.wrapper .contact-content .contacts {
    transition: all 2s ease;
}

.wrapper .contact-content .contacts.entering {
    position: relative;
    top: -5em;
    opacity: 0;
}

.wrapper .contact-content .contacts.entered {
    position: relative;
    top: 0;
    opacity: 1;

}

.wrapper .music-content .songs-center {
    transition: all 2s ease;
}

.wrapper .music-content .songs-center.entering {
    position: relative;
    top: -4em;
    opacity: 0;
}

.wrapper .music-content .songs-center.entered {
    position: relative;
    top: 0;
    opacity: 1;

}

.wrapper .about-content h3 {
    transition: all 1s ease;
}

.wrapper .about-content.entering h3 {
    opacity: 0;
    position: relative;
    top: -2em;
}

.wrapper .about-content.entered h3 {
    position: relative;
    top: 0;
    opacity: 1;
}

.wrapper .about-content p {
    transition: all 1s ease;
}

.wrapper .about-content p.entering {
    opacity: 0;
    position: relative;
    top: -0.5em;
}

.wrapper .about-content p.entered {
    position: relative;
    top: 0;
    opacity: 1;
}

/*Header underline*/

.burger-box {
    width: 19px;
    height: 17px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    transform: rotate(90deg);
    overflow: hidden;
    cursor: pointer;
}

.burger-box img:last-child {
    align-self: flex-end;
}

/*.burger-box.entering {*/
/*opacity: 0;*/
/*}*/

/*.burger-box.entered {*/
/*opacity: 1;*/
/*transition: all 2s ease;*/
/*}*/

.burger-box .line1,
.burger-box .line2 {
    transition: all 3s ease;
}

.burger-box.entering .line1 {
    margin-top: -0.2em;
}

.burger-box.entering .line2 {
    margin-top: -0.6em;
}

.burger-box.entered .line1 {
    margin-top: 0;
}

.burger-box.entered .line2 {
    margin-top: 0;
}

.burger-box .line1 {
    height: 0.7em;
    border-left: solid 1px #979797;
}

.burger-box .line2 {
    height: 1.5em;
    border-left: solid 1px #979797;
}

.burger-box .line3 {
    height: 0.3em;
    border-left: solid 1px #979797;
    align-self: flex-end;
}

