/* Slider */

.slick-slider {
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.sliderController {
    height: 40vh;
    width: 75.5vw;
    margin: 5em 0 0 0;
}

.slick-slider .photo {
    height: 40vh;
    position: relative;
    cursor: pointer;
}


.sliderController img {
    height: 100%;
    width: auto;
    margin: auto;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.sliderController .photo:hover .fade {
    opacity: 0.75;
}
.sliderController .fade {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;

    width: 100%;
    height: 100%;
    background-color: #d8d8d8;
}

.sliderController .fade p {

    top: calc(50% - 1em);
    left: calc(50% - 1em);
    font-family: Brandon_med, sans-serif;
    font-size: 15px;
    letter-spacing: 2.7px;
    position: absolute;
    color: #000000;
}


/*margins*/
.slick-slide {
    margin: 0 55px;
}
.slick-list {
    margin: 0 -55px;
}
/*margins*/


.slick-list {
    height: 40vh;

    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-track:before,
.slick-track:after {
    display: table;

    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;

    height: auto;

    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}
