$sidebar-dark: #1e1e1e;
$content-dark: #1d1d1d;
$h1-color-dark: #6c6c6c;
$white: #ffffff;
$naming: #afafaf;
$brown-grey: #a1a1a1;
$milk: #dedede;
$milk-reverse: #ededed;
$milk-oreo: #6d6d6d;
$dark-primary-color-hover: #515151;
$black: #2f2f2f;
$name-text: #afafaf;
$theme-text-active-dark: #afafaf;
$theme-text-dark: #515151;
$theme-line-active-dark: #979797;
$theme-line-dark: #000000;
$logo-main: #b5b5b5;

$sidebar-light: #ebebeb;
$content-light: #e2e2e2;
$h1-color-light: #2c2c2c;
$taupe: #b79f80;
$ginger-brown: #825b2b;
$border-after-light: #303030;

$video-names: #393939;

* {
  //font-family: initial !important;
}

body {
  margin: 0;
  font-size: 12px;
  font-weight: 500;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.wrapper.en {
  font-family: Brandon_bld, sans-serif;
}

.wrapper.ru,
.wrapper.ua {
  font-family: MontserratBold, sans-serif;
}

.wrapper.preloading {
  height: 100vh;
  grid-template-columns: 100%;
  background-color: $sidebar-dark;
}

.wrapper img.preloader {
  margin: auto;
}

.wrapper {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 100%;
}

.wrapper a {
  text-decoration: none;
}

.wrapper .main.main-content h1 {
  font-family: BickhamScriptThree, sans-serif;
  font-size: 74px;
  letter-spacing: 0.6px;
  font-weight: normal;
  text-align: center;
  margin: 0;
  text-shadow: 0 1px 4px rgba(25, 25, 25, 0);
}

.wrapper.dark .main.main-content h1 {
  color: $h1-color-dark;
}

.wrapper.light .main.main-content h1 {
  color: $h1-color-light;
}

.wrapper .main.main-content .background {
  position: absolute;
  margin: -1% 0px 0% 4%;
  height: 125%;
}

.wrapper.dark .main.main-content .background.light {
  display: none;
}

.wrapper.light .main.main-content .background.dark {
  display: none;
}

.wrapper h2 {
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: 3.5px;
  margin: auto;
}

.wrapper.en h2 {
  font-family: Brandon_light, sans-serif;
}

.wrapper.ru h2,
.wrapper.ua h2 {
  font-family: MontserratExtraLight, sans-serif;
}

.wrapper .main h2 {
  margin: -4em 0 0 4em;
}

.wrapper.dark .main h2 {
  color: $logo-main;
}

.wrapper .sidebar-logo a.logo {
  user-select: none;
  cursor: pointer;
  font-family: Brandon_light, sans-serif;
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: 4px;
  margin: auto;
  color: $milk-oreo;
}

.wrapper .sidebar-logo a.logo::selection {
  background-color: Transparent;
}

.wrapper.en .sidebar-menu a {
  font-family: Brandon_med, sans-serif;
  margin-right: 2em;
}

.wrapper.ru .sidebar-menu a,
.wrapper.ua .sidebar-menu a {
  font-family: MontserratSemiBold, sans-serif;
  margin-right: 1em;
}

.sidebar-menu a {
  font-size: 10px;
  letter-spacing: 2.8px;
}

.wrapper.dark .sidebar {
  background-color: $sidebar-dark;
}

.wrapper.light .sidebar {
  background-color: $sidebar-light;
}

.wrapper.dark .content {
  background-color: $content-dark;
}

.wrapper.light .content {
  background-color: $content-light;
}

.content,
.sidebar {
  display: grid;
  grid-auto-rows: 21.25vh 70vh 8.75vh;
}

//sidebar

.sidebar-menu,
.sidebar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-menu {
  transform: rotate(270deg);
}

.wrapper .sidebar-menu img {
  transform: rotate(90deg);
}

.wrapper.dark .sidebar-menu img.lightBurger {
  display: none;
}

.wrapper.light .sidebar-menu img.darkBurger {
  display: none;
}

.wrapper.dark .sidebar-menu a,
.wrapper.light .sidebar-menu a {
  color: $milk-oreo;
}

.wrapper.dark .sidebar-menu a:hover {
  color: $milk;
}

.wrapper.light .sidebar-menu a:hover {
  color: $black;
}

.wrapper .sidebar {
  z-index: 1;
}

.wrapper .sidebar .social-media {
  display: grid;
  justify-content: center;
}

.wrapper.dark .sidebar .social-media.light {
  display: none;
}

.wrapper.light .sidebar .social-media.dark {
  display: none;
}

.wrapper .sidebar .social-media .icons-block a {
  opacity: 0.5;
}

.wrapper .sidebar .social-media .icons-block a:hover {
  opacity: 1;
}

.wrapper .sidebar .social-media .icons-block a img {
  margin-right: 2em;
}

.wrapper .sidebar .social-media .icons-block a:last-child img {
  margin-right: 0;
}

//header

header {
  display: grid;
  grid-template-columns: 1fr 12.5em;
  padding: 8vh 4.5vw 0;
  grid-gap: 22%;
  z-index: 1;
}

.wrapper .header-menu a {
  letter-spacing: 0.9px;
  text-transform: uppercase;
}

.wrapper.dark .header-menu a {
  color: $white;
}

.wrapper.light .header-menu a {
  color: black;
}

.wrapper.dark .header-menu .active a,
.wrapper.dark .header-menu a:hover,
.wrapper.light .header-menu .active a,
.wrapper.light .header-menu a:hover {
  color: $brown-grey;
}

.header-menu {
  display: flex;
  justify-content: space-between;
}

.header-menu li {
  height: 2em;
  position: relative;
}

.header-menu li:first-child {
  margin-right: 46%;
}

.header-menu li.active:after {
  content: '';
  display: block;
  width: 1.5em;
  position: absolute;
  left: -0.5em;
  bottom: 0;
}

.wrapper.dark .header-menu li.active:after {
  border-bottom: 1px solid $white;
}

.wrapper.light .header-menu li.active:after {
  border-bottom: 1px solid $border-after-light;
}

.news .news-item {
  font-size: 10px;
  letter-spacing: 2.8px;
  cursor: pointer;
}

.news .date {
  display: block;
}

.wrapper.dark .news .date,
.wrapper.light .news .date {
  color: $taupe;
}

.wrapper.dark .news .event,
.wrapper.light .news .event {
  color: $milk-oreo;
}

.news li {
  line-height: 1.2;
  margin-bottom: 1.2em;
}

.news li:nth-child(2) {
  opacity: 0.5;
}

.news li:last-child {
  margin-bottom: 0;
  opacity: 0.25;
}

//find a better way to do this
.news li:hover {
  opacity: 1;
}

.main {
  //padding: 2vh 14.2vw 5vh 4.5vw;
  padding: 2vh calc(4.5vw + 12.5em) 5vh 4.5vw;
}

.main.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.main .logo-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 8.5em;
  z-index: 1;
  user-select: none;
}

.wrapper.en .main.about-content {
  font-family: Brandon_light, sans-serif;
}

.wrapper.ru .main.about-content,
.wrapper.ua .main.about-content {
  font-family: MontserratLight, sans-serif;
}

.main.about-content {
  display: flex;
  align-items: center;
  padding: 2vh calc(4.5vw + 37.5em) 30vh 4.5vw;
  line-height: 1.5em;
  font-size: 14px;
  letter-spacing: 1.1px;
}

.wrapper.light .main.about-content {
  color: $theme-line-dark;
}

.wrapper.dark .main.about-content {
  color: $sidebar-light;
}

.wrapper.en .main.about-content h3 {
  font-family: Brandon_light, sans-serif;
}

.wrapper.ru .main.about-content h3,
.wrapper.ua .main.about-content h3 {
  font-family: Brandon_light, sans-serif;
}

.main.about-content h3 {
  color: $taupe;
  font-weight: normal;
}

.wrapper.en .main.contact-content h1,
.wrapper.en .main.gallery-content h1
.wrapper.en .main.video-content h1,
.wrapper.en .main.music-content h1 {
  font-family: Brandon_bld, sans-serif;
}

.wrapper.ru .main.contact-content h1,
.wrapper.ru .main.gallery-content h1,
.wrapper.ru .main.video-content h1,
.wrapper.ru .main.music-content h1,
.wrapper.ua .main.contact-content h1,
.wrapper.ua .main.gallery-content h1,
.wrapper.ua .main.video-content h1,
.wrapper.ua .main.music-content h1 {
  font-family: MontserratBold, sans-serif;
}

.main.contact-content h1,
.main.gallery-content h1,
.main.video-content h1,
.main.music-content h1 {
  font-size: 50px;
  color: $white;
  margin: 0;
}

.main.contact-content .contacts {
  display: flex;
  align-items: center;
  padding-top: 2.5em;
}

.main.contact-content .contacts .contact-item {
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

.main.contact-content .contacts .contact-item:first-child {
  margin-right: 1.5em;
}

.main.contact-content .contacts .contact-item:last-child span:last-child {
  font-size: 14px;
}

.main.contact-content .contacts span {
  font-family: Brandon_light, sans-serif;
}

.main.contact-content .contacts .contact-item span:first-child {
  margin-bottom: 0.7em;
}

.wrapper.en .main.contact-content .contacts span.bold {
  font-size: 18px;
  font-family: Brandon_med, sans-serif;
}

.wrapper.ru .main.contact-content .contacts span.bold,
.wrapper.ua .main.contact-content .contacts span.bold {
  font-size: 15px;
  font-family: MontserratMedium, sans-serif;
}

.main.contact-content .contacts span.bold {
  display: inline-block;
  font-family: Brandon_med, sans-serif;
}

.wrapper.light .main.contact-content .contacts span.bold,
.wrapper.light .main.contact-content .contacts span {
  color: $theme-line-dark;
}

.wrapper.dark .main.contact-content .contacts span.bold,
.wrapper.dark .main.contact-content .contacts span {
  color: $brown-grey;
}

.main.contact-content input {
  width: 20.2em;
  margin: 0 0 1em 0;
  padding: 0.7em 0.5em 0.3em 0.5em;
  border: none;
  border-bottom: solid 1px rgba(151, 151, 151, 0.26);
  outline: none;
}

.wrapper.dark .main.contact-content input {
  background-color: $content-dark;
}

.wrapper.light .main.contact-content input {
  background-color: $content-light;
}

.main.contact-content input,
.main.contact-content input::placeholder {
  font-family: Brandon_light, sans-serif;
  font-size: 18px;
  color: $naming;
}

//TODO
//.main.contact-content input:focus {
//  box-shadow: 0 0 6px 0 rgba(194, 194, 194, 0.87);
//}

.main.contact-content input:hover {
  border-bottom: solid 1px $theme-line-active-dark;
}

.main.contact-content .contact-form {
  padding-top: 2em;
}

.main.contact-content .contact-form .input-block {
  display: inline-block;
  margin: 0 4.2em 1.3em 0;
  position: relative;
}

.wrapper .main.contact-content .contact-form .result {
  position: absolute;
  right: 0;
  margin: 0;
  text-align: end;
  font-size: 12px;
  font-family: 'Brandon_bld', sans-serif;
  color: $naming;
}

.wrapper.en .main.contact-content button.send {
  width: 10.7em;
  font-family: Brandon_med, sans-serif;
}

.wrapper.ru .main.contact-content button.send,
.wrapper.ua .main.contact-content button.send {
  width: 12.7em;
  font-size: 14px;
  font-family: MontserratMedium, sans-serif;
}

.main.contact-content button.send {
  height: 2.8em;
  color: $white;
  text-transform: uppercase;
  letter-spacing: 4.3px;
  border: solid 1px $theme-line-dark;
  outline: none;
}

.wrapper.dark .main.contact-content button.send:hover {
  background-color: $white;
  color: $content-dark;
}

.wrapper.dark .main.contact-content button.send {
  background-color: $content-dark;
}

.wrapper.light .main.contact-content button.send {
  background-color: $content-light;
}

.wrapper .main.contact-content .contact-form-response {
  padding: 7em 0 0 0;
}

.wrapper .main.contact-content .contact-form-response h2,
.wrapper .main.contact-content .contact-form-response h3 {
  margin: 0;
  font-family: Brandon_med, sans-serif;
  font-size: 13px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.wrapper .main.contact-content .contact-form-response h2 {
  margin-bottom: 1em;
}

.wrapper.dark .main.contact-content .contact-form-response h2 {
  color: $white;
}

.wrapper.dark .main.contact-content .contact-form-response h3 {
  color: $brown-grey;
}

.main.gallery-content {
  width: 74.8vw;
  padding: 2vh 0 5vh 4.5vw;
}

.main.gallery-content h1,
.main.gallery-content h2 {
  display: inline-block;
}

.wrapper.en .main.gallery-content h1 {
  margin-right: 5em;
}

.wrapper.ru .main.gallery-content h1,
.wrapper.ua .main.gallery-content h1 {
  margin-right: 3.5em;
}

.main.gallery-content h2 {
  margin: 0;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 3px;
  color: rgba(183, 159, 128, 0.25);
}

.wrapper.en .main.gallery-content h2 {
  font-family: Brandon_bld, sans-serif;
}

.wrapper.ru .main.gallery-content h2,
.wrapper.ua .main.gallery-content h2 {
  width: 20vw;
  font-family: MontserratBold, sans-serif;
  font-size: 11px;
}

.wrapper.ru .main.gallery-content h2:before,
.wrapper.ua .main.gallery-content h2:before {
  content: '';
  float: right;
  width: 22em;
  height: 1em;
}

.wrapper.dark .main.gallery-content h2 {
  color: rgba(183, 159, 128, 0.25);
}

.main.video-content .video-block {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 4em 2em;
  padding-top: 2.5em;
  color: $video-names;
  font-size: 14px;
}

.main.video-content .video .screen {
  background: url("https://images.unsplash.com/photo-1508252592163-5d3c3c559f36?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ec1ecefddebe708d9f122e4ef5372b04&auto=format&fit=crop&w=1950&q=80");
  background-size: cover;
  height: 100px;
}

.main.video-content .video {
  position: relative;
  padding-bottom: 55%;
  height: 0;
}

.main.video-content .video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.main.video-content .video p {
  position: absolute;
  top: 100%;
}

.main.music-content {
  padding: 2vh 4.5vw 5vh 4.5vw;
}

.main.music-content .songs-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main.music-content .songs {
  overflow-x: auto;
  width: 60%;
}

.main.music-content .songs::-webkit-scrollbar {
  width: 12px;
}

.main.music-content .songs::-webkit-scrollbar-track {
  //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  //border-radius: 10px;
}

//div::-webkit-scrollbar-thumb {
//  border-radius: 10px;
//  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
//}

.main.music-content .songs::-webkit-scrollbar-thumb {
  appearance: none;
  width: 9px;
  height: 9px;
  border-radius: 5px;
  background-color: $taupe;
  cursor: pointer;
}

.wrapper.light .main.music-content .songs::-webkit-scrollbar-thumb {
  border: solid 2px $content-light;

}

.wrapper.dark .main.music-content .songs::-webkit-scrollbar-thumb {
  border: solid 2px $content-dark;
}

.main.music-content .song {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: -2em;
}

.main.music-content .song .song-cover {
  width: 38px;
  height: 38px;
  margin-right: 2.5em;
}

.main.music-content p {
  font-size: 18px;
  letter-spacing: 1.5px;
  margin: 0;
}

.main.music-content .song .audio-player {
  margin: 0;
  background: transparent;
}

.main.music-content .audio-player {
  background: white;
  width: 50vw;
  display: flex;
  align-items: center;
}

.main.music-content .audio-player .track-info {
  display: flex;
  justify-content: space-between;
}

.main.music-content .audio-player .track-info .time {
  display: flex;
  font-family: Brandon_light;
  letter-spacing: 0.9px;
}

.wrapper.dark .main.music-content .audio-player .track-info p.track-name {
  color: $sidebar-light;
}

.wrapper.light .main.music-content .audio-player .track-info p.track-name,
.wrapper.dark .main.music-content .audio-player .track-info .time p {
  color: $theme-line-dark;
}

.wrapper.dark .main.music-content .audio-player .track-info .time p {
  color: $brown-grey;
}

.main.music-content .audio-player .track-info .time p {
  font-size: 12px;
}

.wrapper.en .main.music-content .audio-player .track-info .track-name {
  font-family: Brandon_med, sans-serif;
}

.wrapper.ru .main.music-content .audio-player .track-info .track-name,
.wrapper.ua .main.music-content .audio-player .track-info .track-name {
  font-family: MontserratMedium, sans-serif;
}

.main.music-content .audio-player .track-info .track-name {
  margin-bottom: 0.25em;
}

.main.music-content .audio-player progress {
  width: 100%;
  cursor: pointer;
}

.main.music-content .audio-player .volume-controller {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-left: 1.5em;
}

.main.music-content .audio-player .volume-controller .volumeIcon {
  opacity: 0.7;
  margin-bottom: -4.5em;
}

.main.music-content .audio-player .volume-controller .volumeIcon:hover {
  opacity: 1;
}

.main.music-content .audio-player .volume-controller .volumeRange {
  width: 40px;
  height: 2px;
  outline: none;
  appearance: none;
  background-color: rgba(161, 161, 161, 0.3);
  transform: rotate(270deg);
}

.main.music-content .audio-player .volume-controller .volumeRange::-webkit-slider-thumb {
  appearance: none;
  width: 9px;
  height: 9px;
  border-radius: 5px;
  background-color: $taupe;
  cursor: pointer;
}

.wrapper.light .main.music-content .audio-player .volume-controller .volumeRange::-webkit-slider-thumb {
  border: solid 2px $content-light;

}

.wrapper.dark .main.music-content .audio-player .volume-controller .volumeRange::-webkit-slider-thumb {
  border: solid 2px $content-dark;
}

.main.music-content .audio-player .cover {
  height: 7em;
  min-width: 7em;
  margin-right: 1.3em;
  cursor: pointer;
  position: relative;
}

.main.music-content .audio-player .cover:hover #play-btn {
  opacity: 1;
}

.main.music-content .audio-player .album-image {
  height: 100%;
  width: 100%;
}

.main.music-content .audio-player .player-controls {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main.music-content .audio-player #play-btn {
  background-image: url('./public/play.svg');
  background-size: cover;
  position: absolute;
  width: 11px;
  height: 11px;
  top: 43%;
  left: 44%;
  margin: 0 auto;
  opacity: 0;

}

.main.music-content .audio-player #play-btn.play {
  -webkit-transition: opacity 600ms, visibility 600ms;
  transition: opacity 500ms, visibility 500ms;
}

.main.music-content .audio-player #play-btn.pause {
  opacity: 1;
  background-image: url('./public/pause.svg');
}

.main.music-content .audio-player .player-controls progress {
  width: 90%;

}

.main.music-content .audio-player .player-controls progress[value] {
  -webkit-appearance: none;
  appearance: none;
  color: $taupe;
  height: 1px;
}

.main.music-content .audio-player .player-controls progress[value] {
  background-color: rgba(183, 159, 128, 0.25);

}

//.wrapper.light .main.music-content .audio-player .player-controls progress[value] {
//  background-color: rgba(183, 159, 128, 0.25);
//}

.main.music-content .audio-player .player-controls progress[value]::-webkit-progress-bar {
  background-color: rgba(183, 159, 128, 0.25);
  border-radius: 1px;
  color: $taupe;

}

.main.music-content .audio-player .player-controls progress::-webkit-progress-value {
  background-color: $taupe;
  box-shadow: 0 0 6px 0 rgba(194, 194, 194, 0.5), 0 0 4px 0 $taupe;
  opacity: 1;
}

footer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-items: center;
  z-index: 1;
}

footer .lang a {
  color: $black;
  margin-right: 1em;
  cursor: pointer;
}

.wrapper.dark .lang a {
  color: $black;
}

.wrapper.light .lang a {
  color: $naming;
}

footer .lang a:last-child {
  margin-right: 0;
}

.wrapper.dark footer .lang a:hover,
.wrapper.dark footer .lang a.active {
  color: $milk-reverse;
}

.wrapper.light footer .lang a:hover,
.wrapper.light footer .lang a.active {
  color: $black;
}

.wrapper.en footer .theme {
  font-family: Brandon_light, sans-serif;
}

.wrapper.ru footer .theme,
.wrapper.ua footer .theme {
  font-family: MontserratExtraLight, sans-serif;
}

footer .theme {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  font-size: 16px;
}

footer .theme a {
  display: block;
  cursor: pointer;
}

.wrapper.light footer .theme a:hover,
.wrapper.light footer .theme a.active,
.wrapper.dark footer .theme a {
  color: $theme-text-dark;
}

.wrapper.dark footer .theme a:hover,
.wrapper.dark footer .theme a.active,
.wrapper.light footer .theme a {
  color: $theme-text-active-dark;
}

footer .theme .line {
  display: block;
  width: 2em;
}

.wrapper.dark footer .theme .line,
.wrapper.light footer .theme .line.active {
  border-top: 1px solid $theme-line-dark;
}

.wrapper.dark footer .theme .line.active,
.wrapper.light footer .theme .line {
  border-top: 1px solid $theme-line-active-dark;
}

footer .theme a:first-child {
  margin-right: 1em;
}

footer .theme a:last-child {
  margin-left: 1em;
}

.wrapper.en footer a.question {
  font-family: Brandon_light, sans-serif;
  font-size: 14px;
}

.wrapper.ru footer a.question,
.wrapper.ua footer a.question {
  font-family: MontserratMedium, sans-serif;
  font-size: 12px;
}

footer a.question {
  display: block;
  height: 1.3em;
}

.wrapper.dark footer a.question,
.wrapper.light footer a.question {
  color: $naming;
  border-bottom: 1px solid $naming;
}

.wrapper.dark footer a.question:hover {
  color: $milk-reverse;
}

.wrapper.light footer a.question:hover {
  color: $black;
}

@media (max-width: 1670px) {
  .header-menu li:first-child {
    margin-right: 38%;
  }
  .main.about-content {
    padding: 2vh calc(4.5vw + 25.5em) 30vh 4.5vw;
  }

  .wrapper.ru .header-menu li:first-child,
  .wrapper.ua .header-menu li:first-child {
    margin-right: 21%;
  }
}

@media (max-width: 1280px) {
  .wrapper .main.main-content h1 {
    font-size: 72px;
  }
  body,
  .wrapper h2,
  .header-menu,
  .wrapper .sidebar-logo a.logo {
    font-size: 10px;
  }
  .news a,
  .sidebar-menu a {
    font-size: 8px;
  }
  footer .theme {
    font-size: 14px;
  }
  .wrapper.en footer a.question,
  .main.about-content {
    font-size: 12px;
  }

  .main.about-content {
    padding: 2vh calc(4.5vw + 18.5em) 30vh 4.5vw;
  }
  .wrapper.ru .header-menu li:first-child,
  .wrapper.ua .header-menu li:first-child {
    margin-right: 8%;
  }
  .wrapper.ru footer a.question,
  .wrapper.ua footer a.question {
    font-size: 10px;
  }
  .header-menu li:first-child {
    margin-right: 28%;
  }
  .wrapper .main.main-content .background {
    height: 99%;
  }
}

@media(max-width: 950px) {
  .wrapper .main.main-content h1 {
    font-size: 53px;
  }
  .header-menu li:first-child {
    margin-right: 26%;
  }
  .wrapper .main.main-content .background {
    height: 84%;
  }
  header {
    grid-gap: 14%;
  }
}